.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.n-container {
  @apply max-w-[1360px] m-auto w-[95%] sm:w-[90%];
}

.bg-intro {
  background-image: url("/public/images/intro_background.png");
  background-size: cover;
}

.text-eee {
  color: #eeeeee !important;
}

.bg-golden {
  background-color: #d3ae6c;
}

.golden-font {
  color: #d3ae6c;
}

.dark-font {
  color: #2d2d2d;
}

.glaserstencil {
  font-family: "GlaserStencil";
}

.bebas {
  font-family: "Bebas";
}

.poppinsFont {
  font-family: "Poppins";
}

.bg-drai {
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(180deg, rgba(3, 0, 27, 0) 0%, #03001b 100%);
}

.bg-solution {
  background-image: url(/public/images/solutionbg.png);
}

.bg-solution-item {
  background-color: #2d2d2d;
}

.dragon-bot {
}

.dragon-bot:hover {
  animation-name: dragonanimation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes dragonanimation {
  40% {
    bottom: 30px;
  }
  100% {
    bottom: 10px;
  }
}

custom-file-input-box {
  display: block;
  position: relative;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

custom-file-input-box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

custom-file-input-box span.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

custom-file-input-box:hover span.icon {
}
